{% load staticfiles %}
{% load my_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "website/bootstrap-3.3.6-dist/css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "website/css/assets/animate.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "website/js/owl.carousel.min.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "website/js/owl.theme.default.min.css" %}" type="text/css" />
    <!-- <link rel="stylesheet" href="{% static "website/css/assets/owl.carousel.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "website/css/assets/owl.theme.css" %}" type="text/css" /> -->
    <link rel="stylesheet" href="{% static "website/css/assets/icons.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "website/css/jquery.modal.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "website/css/style.css" %}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {% block css %}

    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static "https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js" %}"></script>
      <script src="{% static "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %}"></script>
    <![endif]-->


  </head>
  <body>

    <!-- Modals -->

    <!-- <div id="location-modal" style="display:none">
      <h4>Your Location : <small><span id="auto-location-detail">Retriving..</span></small></h4>
      <center>
        <h4>OR</h4>
      </center>
      <h4>Select a location from the list below</h4>
      <ul class="list-unstyled">
        <li><a href="#">Connaught Place</a></li>
        <li><a href="#">Rohini</a></li>
        <li><a href="#">Hauz Khaz</a></li>
      </ul>
    </div> -->

   <!-- Header -->
	<!-- Navigation -->

    <div class="container-fluid" style="background:#333;position:fixed;top:0;width:100%;z-index:10000;">
        <div class="container">
            <ul class="navigation" style="display:none;">
                <li>
                    <a href="{% url 'articles' %}"><img src="{% static "website/images/logo-v2.png" %}" width="100" class="img-responsive" /></a>
                </li>
                <li>
                    <form class="form-inline search">
            				  <div class="form-group">
            				    <div class="input-group">
            				      <div class="input-group-addon" style="background:#fff;color:#ccc;">Location</div>
            				      <input type="text" class="form-control" id="search" placeholder="Search" style="width:360px;border: none;box-shadow: none;border-left: 1px solid #ccc;" style="box-shadow:none;border:none;border-radius:0;">
            				      <button type="submit" style="height:34px;" class="input-group-addon"><span class="glyphicon glyphicon-search"></span></button></div>
            				  </div>
                    </form>
                </li>
                <li class="li-flex-container">

                  {% if logged_in %}
                    <div class="vertical-center-align">
                        <a href="#"><span style="margin-right:10px;"><img src="images/harry.jpg" class="profile" width="25" /></span>My Profile</a>
                    </div>

                    <div class="vertical-center-align">
                        <a href="#"><img src="images/icons/friends_active.png" width="20" /></a>
                        <a href="#"><img src="images/icons/messages_inactive.png" width="20" /></a>
                        <a href="#"><img src="images/icons/notification_inactive.png" width="20" /></a>
                    </div>

                    <div>
                        <a href="#">Logout</a>
                    </div>
                  {% else %}
                    <div class="vertical-center-align">
                      <a href="{% url 'login' %}" style="border:none;font-size:14px;">Login</a>
                    </div>
                  {% endif %}
                </li>
            </ul>

            <div class="row mob-nav" style="position:relative;">
                <div class="col-xs-12 col-sm-12 col-md-12" style="padding:1em;">
                    <center><a href="{% url 'articles' %}"><img src="{% static "website/images/logo.png" %}" width="100" class="img-responsive" /></a></center>
                </div>

                <div style="position:absolute;left:0;padding:1em;">
                    <a href="javascript:void(0);" onclick="showNav()" style="font-size:25px;color:#ffb414;">&#9776;</a>
                </div>

                <div style="position:absolute;right:0;padding:1em;">
                  <a href="#" id="menu-location-btn"><img src="{% static 'website/images/location.png' %}" width="20" alt="" /></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="featured-container" style="position:relative;height:360px;padding:0;overflow:hidden;{% block cover_image %}{% endblock %}">

    {% block cover_slider %}

    {% endblock %}
    <div id="location-menu">
      <div id="location-detail">
        <div class='uil-gps-css' style='transform:scale(0.15);width:300px;height:50px;'><div class="inner"></div><div class="outer"></div><div class="markers"><div class="markers-ib"><div class="marker"></div><div class="marker"></div><div class="marker"></div><div class="marker"></div></div></div></div>
      </div>
        <center>
          <ul class="list-inline location-list">
            <li><a href="#">Hauz Khaz</a></li>
            <li><a href="#">Connaught Place</a></li>
          </ul>
        </center>
    </div>

    </div>

    <div id="fix-anchor">

    </div>

     <div class="container" style="padding:0;">
      {% if request.get_full_path == '/website/profile/' or  request.get_full_path == '/website/settings/'%}
      <div style="width:100%;padding:0;">
        <div style="background-color:#f9a533;width:100%;height:10px;margin:0;position:relative">
          <div style="background-color:black;position:absolute;z-index:1;width:50%;height:10px;right:0;">

          </div>
        </div>
      </div>
      {% else %}
        {% if request.get_full_path == '/website/bookmarks/?type=article' or request.get_full_path == '/website/bookmarks/?type=event' %}
        <div class="row container visible-xs visible-sm visible-md visible-lg" style="background:#1e1f23;color:#fff;padding:0;width:100%;margin-right: 0px;margin-left: 0px;left: 0px;right: 0px;margin: 0 auto;" id="interest-bar">
            <div class="col-xs-12 col-sm-12 col-md-12" style="padding:0;">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0;"><a href="javascript:void(0)" class="interest" id="interest-mob-btn" style="display:inline-block;padding: 1em;width:100%;"><b>Bookmarks</b></a></div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 visible-xs visible-sm"><div class="row">
                  <div class="col-xs-6 col-sm-6" style="padding:0.8em 0;">
                    <center>
                      <a href="/website/articles/" id="article_bookmark" style="color:#f6921e;">
                      <img src="{% if request.get_full_path == '/website/bookmarks/?type=article' %}{% static "website/images/icons/articles_active.png" %}{% else %}{% static "website/images/icons/articles_inactive.png" %}{% endif %}"id="article_bookmark_img" width="25" style="margin-right:10px;"/>Articles
                      </a>
                    </center>
                  </div>
                  <div class="col-xs-6 col-sm-6" style="padding:0.8em 0;">
                    <center><a href="/website/bookmarks/?type=event" style="color:{% if request.get_full_path == '/website/events/' %}#f6921e{% else %}white{% endif %};">
                      <img src="{% if request.get_full_path == '/website/bookmarks/?type=event' %}{% static "website/images/icons/events_active.png" %}{% else %}{% static "website/images/icons/events_inactive.png" %}{% endif %}" width="25"  style="margin-right:10px;" />Events
                    </a></center>
                  </div>
                </div></div>
                <div class="pull-right event-bar visible-md visible-lg" style="position: absolute;right: 0;top: 25%;">
                <span style="margin-right:15px;">

                    <a id="article-bar-link" href="{% url 'articles' %}" style="color:{% if request.get_full_path == '/website/bookmarks/?type=article' %}#f6921e{% endif %};" >
                       <img style="content:url{% if request.get_full_path == '/website/bookmarks/?type=article' %}({% static "website/images/icons/articles_active.png" %}){% endif %}"id="article_bookmark_img" width="25" style="margin-right:10px;"/>Articles

                    </a>
                  </span>
                  <span style="margin-right:25px;">
                    <a id="event-bar-link" href="{% url 'bookmarks' %}?type=event" style="color:{% if request.get_full_path	==  '/website/bookmarks/?type=event' %}#f6921e{% endif %};">
                      <img style="{% if request.get_full_path == '/website/bookmarks/?type=event'  %}content:url('{% static "website/images/icons/events_active.png" %}{% endif %}');" width="25" class="hidden-xs hidden-sm"/>Events
                    </a>
                  </span>
                </div>
            </div>
        {% else %}
        <div class="row container visible-xs visible-sm visible-md visible-lg" style="background:#1e1f23;color:#fff;padding:0;width:100%;margin-right: 0px;margin-left: 0px;left: 0px;right: 0px;margin: 0 auto;" id="interest-bar">
            <div class="col-xs-12 col-sm-12 col-md-12" style="padding:0;">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:0;"><a href="javascript:void(0)" class="interest" id="interest-mob-btn" style="display:inline-block;padding: 1em;width:100%;"><span id="selected-interest-text"></span><span class="pull-right glyphicon glyphicon-chevron-down" style="color:white;padding: 2px;"></span></a></div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 visible-xs visible-sm"><div class="row">
                  <div class="col-xs-6 col-sm-6" style="padding:0.8em 0;">
                    <center><a href="{% url 'articles' %}" style="color:{% if request.get_full_path == '/website/articles/' %}#f6921e{% endif %}{% if request.get_full_path|check_string %}#f6921e{% endif %};">
                      <img src="{% if request.get_full_path == '/website/articles/' %}{% static "website/images/icons/articles_active.png" %}{% else %}{% static "website/images/icons/articles_inactive.png" %}{% endif %}" width="25" style="margin-right:10px;"/>Articles
                    </a></center>
                  </div>
                  <div class="col-xs-6 col-sm-6" style="padding:0.8em 0;">
                    <center><a href="{% url 'events' %}" style="color:{% if request.get_full_path == '/website/events/' %}#f6921e{% else %}white{% endif %};">
                      <img src="{% if request.get_full_path == '/website/events/' %}{% static "website/images/icons/events_active.png" %}{% else %}{% static "website/images/icons/events_inactive.png" %}{% endif %}" width="25"  style="margin-right:10px;" />Events
                    </a></center>
                  </div>
                </div></div>
                <div class="pull-right event-bar visible-md visible-lg" style="position: absolute;right: 0;top: 25%;">
                  <span style="margin-right:15px;">
                    <a id="article-bar-link" href="{% url 'articles' %}" style="color:{% if request.get_full_path|check_string %}#f6921e{% endif %};">
                      <img style="{% if request.get_full_path|check_string %}content:url('{% static "website/images/icons/articles_active.png" %}{% endif %}');" width="25" class="hidden-xs hidden-sm"/>Articles
                    </a>
                  </span>
                  <span style="margin-right:25px;">
                    <a id="event-bar-link" href="{% url 'events' %}" style="color:{% if request.get_full_path|check_event_string %}#f6921e{% endif %};">
                      <img style="{% if request.get_full_path|check_event_string %}content:url('{% static "website/images/icons/events_active.png" %}{% endif %}');" width="25" class="hidden-xs hidden-sm"/>Events
                    </a>
                  </span>
                </div>
                <ul class="list-of-interests" style="width:50%;position:absolute;z-index:10000;display:none;">
                  {% for interest in interests %}
                    <li><a href="#" rel="{{interest}}" id="select_interest_{{interest}}">{{interest}}</a></li>
                  {% endfor %}
                </ul>
            </div>
          {% endif %}
      {% endif %}
    </div>

	<div class="container" style="background:#f7f7f7;border:none;">
		<div class="row">
      <!-- Sidebar -->
    {% if logged_in %}
			<div class="col-sm-12 col-md-3 hidden-xs hidden-sm" id="desktop-menu" style="background:#1e1f23;">
				<ul class="vertical-cat">
					<li class="interest-drop-down"><a href="javascipt:void(0)" id="display-interest">Interests</a>
						<ul>
                            <li>
                                <a href="javascipt:void(0)">Politics</a>
                            </li>
                            <li>
                                <a href="javascipt:void(0)">Sports</a>
                            </li>
                            <li>
                                <a href="javascipt:void(0)">World News</a>
                            </li>
                        </ul>
					</li>
					<li>
						<a href="{% url 'articles' %}"><span style="margin-right:10px;"><img class="articles" width="20" /></span>Article</a>
					</li>
					<li>
						<a href="{% url 'events' %}"><span style="margin-right:10px;"><img class="events" width="20" /></span>Events</a>
					</li>
					<li>
						<a href="javascipt:void(0)"><span style="margin-right:10px;"><img src="images/harry.jpg" class="profile" width="30" /></span>My Profile</a>
					</li>
					<li>
						<a href="{% url 'bookmarks' %}?type=article"><span style="margin-right:10px;"><img class="bookmarks" width="20" /></span>My Bookmarks</a>
					</li>
					<li>
						<a href="javascipt:void(0)"><span style="margin-right:10px;"><img class="messages" width="20" /></span>Messages</a>
					</li>
					<li>
						<a href="javascipt:void(0)"><span style="margin-right:10px;"><img class="friends" width="20" /></span>Friends</a>
					</li>
					<li>
						<a href="javascipt:void(0)"><span style="margin-right:10px;"><img class="notification" width="20" /></span>Notification</a>
					</li>
					<li>
						<a href="javascipt:void(0)"><span style="margin-right:10px;"><img class="setting" width="20" /></span>Settings</a>
					</li>
				</ul>
			</div>
    {% endif %}
      <!-- End of sidebar -->
			<div class="col-sm-12 col-md-12">

                <!--<div class="row hidden-xs hidden-sm hidden-lg">
                    <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 0;">
                        <a href="javascript:void(0)" class="interest" id="interest-mob-btn" style="display:inline-block;">Select an Interest</a>
                        <div class="pull-right event-bar" style="display: inline-block;padding:1em;"><a href="javascipt:void(0)" class="active">Articles</a> | <a href="javascipt:void(0)">Events</a></div>
                        <ul class="list-of-interests" style="width:50%;position:absolute;z-index:10000;display:none;">
                                    <li>
                                        <a href="javascipt:void(0)">Politics</a>
                                    </li>
                                    <li>
                                        <a href="javascipt:void(0)">Sports</a>
                                    </li>
                                    <li>
                                        <a href="javascipt:void(0)">Music</a>
                                    </li>

                        </ul>
                    </div>
                </div>-->

                <!-- Select interest bar for mobile -->

                <!-- Content -->
				<div class="home-content">
          {% block content %}

          {% endblock %}
				</div>

			</div>
		</div>
	</div>

	<!-- End of Header -->


    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5">
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col-md-7 hidden-xs hidden-sm">
                <div class="row">
                    <div class="col-md-4">
                        <ul style="list-style-type:none" class="text-muted">
                            <li style="padding-bottom:2em;">
                                <a href="javascipt:void(0)">BUSINESSES</a>
                            </li>
                            <li>
                                Add Hangout
                            </li>
                            <li>
                                Claim your listing
                            </li>
                            <li>
                                Advertise
                            </li>
                            <li>
                                Base
                            </li>
                            <li>
                                Book
                            </li>
                            <li>
                                Guidelines
                            </li>
                            <li>
                                Business Blog
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
        </div>
      </div>
    </footer>
    <!-- End of footer -->

    <!-- Mobile Menu -->
    <div class="container" style="overflow:hidden;padding:0;position:relative;">
      <div class="mob-nav-list" id="mob-nav-list">
          <ul class="vertical-cat">
            {% if request.session.user_session %}
              <li>
                  <a href="{% url 'my_profile' %}"><span style="margin-right:10px;"><img src="http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com{{request.session.profile_image}}" class="profile" width="30" /></span>{{request.session.first_name|title}}</a>
              </li>
              <li class="visible-sm visible-md visible-lg">
                  <a href="/website/post_article/?id={{request.session.user_session}}"><span style="margin-right:10px;"><img src="images/harry.jpg" class="articles" width="20" /></span>Post Articles</a>
              </li>
              <li class="visible-sm visible-md visible-lg">
                  <a href="/website/post_event/?id={{request.session.user_session}}"><span style="margin-right:10px;"><img src="images/harry.jpg" class="events" width="20" /></span>Post Events</a>
              </li>
              <li>
                  <a href="{% url 'bookmarks' %}?type=article"><span style="margin-right:10px;"><img class="bookmarks" width="20" /></span>My Bookmarks</a>
              </li>
              <li>
                  <a href="javascipt:void(0)"><span style="margin-right:10px;"><img class="messages" width="20" /></span>Messages</a>
              </li>
              <li>
                  <a href="javascipt:void(0)"><span style="margin-right:10px;"><img class="friends" width="20" /></span>Friends</a>
              </li>
              <li>
                  <a href="javascipt:void(0)"><span style="margin-right:10px;"><img class="notification" width="20" /></span>Notification</a>
              </li>
              <li>
                  <a href="{% url 'settings' %}"><span style="margin-right:10px;"><img class="setting" width="20" /></span>Settings</a>
              </li>
              <!-- <li>
                  <a href="{% url 'logout' %}">Logout</a>
              </li> -->
            {% else %}
              <li>
                <a href="{% url 'login' %}">Login</a> {{request.session.user_session}}
              </li>
              <li>
                <a href="{% url 'register' %}">Sign Up</a>
              </li>
            {% endif %}
              <li>
                  <form class="search">
                    <div class="form-group">
                      <div class="input-group">
                        <input type="text" class="form-control" id="search" placeholder="Search" style="width:100%;box-shadow: none;box-shadow:none;border:1px solid grey;border-radius:0;color:white;background:black;">
                        <button type="submit" style="height:34px;display:none;" class="input-group-addon"><span class="glyphicon glyphicon-search"></span></button></div>
                      </div>

                  </form>
              </li>
          </ul>
      </div>
    </div>

    <!-- Mobile Add Post -->
    <ul class="list-unstyled" id="mobile-events">
      <li><button type="button" name="button" id="mobile-post-event">Post Event</button></li>
      <li><button type="button" name="button" id="mobile-post-article">Post Article</button></li>
      <li><button type="button" name="button" id="login-human">You gotta login human!</button></li>
    </ul>
    <div class="visible-xs add-btn">
        <button id="add-post"></button>
    </div>

    <!-- Mobile shadow -->
    <div class="shadow">
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	  <!-- Latest compiled and minified JavaScript -->
    <script src="{% static "website/js/jquery-1.9.1.js" %}"></script>
    <script src="{% static "website/bootstrap-3.3.6-dist/js/bootstrap.min.js" %}"></script>
    <!-- x-editable (bootstrap version) -->
    <script src="{% static "website/js/owl.carousel2.min.js" %}"></script>
    <!-- <script src="{% static "website/js/owl.carousel.js" %}"></script> -->
    <script src="{% static "website/js/carousel.js" %}"></script>
    <script src="{% static "website/js/scripts.js" %}"></script>
    <script src="{% static "website/js/cookie.js" %}"></script>
    <script src="{% static "website/js/jquery.modal.js" %}"></script>
    <script src="{% static "website/js/interest.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script>
      $('#menu-location-btn').on('click', function() {
        $('#location-menu').css('display', 'block');
        if ($("#location-menu").hasClass("slideInDown")) {
          $("#location-menu").removeClass('animated slideInDown');
          $("#location-menu").addClass('animated slideOutUp');
        } else {
          $("#location-menu").removeClass('animated slideOutUp');
          $("#location-menu").addClass('display-block animated slideInDown');
        }
        if (navigator.geolocation) {
          console.log('Geolocation is supported');
            var startPos;
            var geoSuccess = function(position) {
              startPos = position;
              console.log(startPos.coords.latitude)
              console.log(startPos.coords.longitude)
              $.ajax({
                url: 'http://maps.googleapis.com/maps/api/geocode/json?latlng='+ startPos.coords.latitude +','+ startPos.coords.longitude +'&sensor=true',
                type: 'GET',
              }).then(function(res) {
                console.log(res);
                $('#location-detail').html(res['results'][0]['formatted_address']);
              });

            };
            try {
              navigator.geolocation.getCurrentPosition(geoSuccess);
            } catch(e) {
              console.log(e);
            }

        } else {
            console.log('Geolocation is not supported')
        }
      })

      $('button[id^="mobile-post"]').on('click', function(e) {
        console.log(e);
      })
    </script>
    {% block ajax %}{% endblock %}
  </body>
</html>
