{% extends 'website/base.html' %}
{% load staticfiles %}

{% block content %}
<div id="interest-box">
  <h3>Select relevant interests</h3>
  <form id="form_select_interest" action="{% url 'articles' %}">
    <ul class="list-unstyled">
      {% for item in interests %}
      <li><label><input type="checkbox" name="{{item}}" value="">  {{item}}</label></li>
      {% endfor %}
    </ul>
    <input type="submit" name="name" value="Submit Interests">
  </form>
</div>
{% endblock %}

{% block ajax %}<script src="{% static "website/js/reg_device.js" %}"></script>{% endblock %}
