{% extends "website/base.html" %}
{% load staticfiles %}


{% block title %}
Manage your settings
{% endblock %}

{% block content %}
<div class="row">
  <center><h4><span style="padding:0 0.5em;border-bottom: 2px solid #1e1f23;">General Settings</span></h4></center>
  <div class="gen-margin-config">
    <ul class="list-unstyled hor-bordered-list">
      <li><a href="#" class="list-anchor">Notification Alert<span class="list-item-right"><button style="border:none; background: lightgrey; border-radius: 5px;" id="notification-btn">On</button></span></a></li>
      <li><a href="#" class="list-anchor">Privacy Policy</a></li>
      <li><a href="#" class="list-anchor">Terms of Service</a></li>
      <li>
        <ul class="list-unstyled row-flex-container">
          <li><a href="#" class="list-anchor">Share Activork</a></li>
          <li style="padding: 1em;text-align:right;">
            <a href="#"><i class="fa fa-facebook" style="color:#f9a533;font-size:large;margin:0 0.5em;"></i></a>
            <a href="#"><i class="fa fa-twitter" style="color:#f9a533;font-size:large;margin:0 0.5em;"></i></a>
            <a href="#"><i class="fa fa-google-plus" style="color:#f9a533;font-size:large;margin:0 0.5em;"></i></a>
          </li>
        </ul>
      </li>
      <li><a href="#" class="list-anchor">Logout</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block ajax %}
<script>
  $(function() {
    $('#notification-btn').on('click', function() {
      $.ajax({
        url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/notification_account/',
        type: 'POST',
        data: {
          SESSION_ID: Cookies.get('user_session_cookie'),
        },
        success: function(res) {
          console.log(res)
        },
        error: function(err) {
          console.log(err)
        }
      })
    })
  })
</script>
{% endblock %}
