{% extends "website/base.html" %}
{% load staticfiles %}
{% load my_tags %}
{% block title %}
{{article_detail.name}} | Activork
{% endblock %}

{% block cover_image %}

{% if article_detail.video != "" %}

<object width="100%" height="360">
    <param name="movie" value="{{article_detail.video|get_url}}?html5=1&amp;rel=0&amp;hl=en_US&amp;version=3"/>
    <param name="allowFullScreen" value="true"/>
    <param name="allowscriptaccess" value="always"/>
    <embed width="100%" height="360" src="{{article_detail.video|get_url}}?html5=1&amp;rel=0&amp;hl=en_US&amp;version=3" class="youtube-player" type="text/html" allowscriptaccess="always" allowfullscreen="true">
</object>

{% else %}

background: url('http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com{{article_detail.image}}') no-repeat center/100%;


{% endif %}

{% endblock %}



{% block coverSlider %}

{% endblock %}

{% block interest_title %}
<b>{{article_detail.primary_interest}}</b>
{% endblock %}


{% block articleBar %}

{% endblock %}




{% block content %}
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="article-content">
  <div style="padding-bottom:15px;border-bottom:1px solid #ddd;">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
          <ul class="list-inline">
            <li><h4 style="font-weight:bold;">{{article_detail.name}}</h4></li>
            <li class="pull-right"><a href="#" id="bookmark" style="display: block;margin: 10px 25px;"><img src="{% static 'website/images/icons/bookmarks_active.png' %}" width="20" alt="" /></a></li>
          </ul>
          <small style="color:#777777;">More at </small><a href="{{article_detail.source}}" style="font-size:14px;color:#f9a533" target="_self">{{article_detail.source|get_source}}</a>
      </div>
    </div>
  </div>
  <div style="margin-top:15px;">
    {{article_detail.content}}
  </div>


<input type="hidden" id="primary_interest" value="{{article_detail.primary_interest.interest}}" />
          <div class="source-detail">
            <h6>Shared by <a href="#"><span style="font-weight:bold;color:#777;">{{article_detail.posted_by}}</span></a></h6>
          </div>
<input type="hidden" id='device_id' value="{{device_id}}" />

</div>

<div class="article-content" style="margin-top:28px;padding:1em;">
  <h5 style="font-weight: 700;">Places suggested by Activork</h5>
  <ul class="place-card">
    {% for place in places %}
      <li>{{place.formatted_address}}</li>
    {% endfor %}
  </ul>
</div>

<div class="article-content" style="margin-top:28px;">
  {% if request.session.user_session %}
  <ul class="list-inline">
    <li><a href="#" class="reward-btn" id="like">Like</a></li>
    <li><div class="fb-share-button" data-href="{{request.get_full_path}}" data-layout="icon_link" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
    </li>
    <li><a href="#comments" class="reward-btn">Read Comments</a></li>
  </ul>
    <div class="row comment-box" style="margin-bottom:15px;">
        <div class="col-sm-8 col-xs-12 col-md-6">
          <form id="comment-form">
            <textarea id="commentBox">Post Comment</textarea>
            <button type="submit" name="button" class="btn_auth" style="width:100px;font-size:14px;">Comment</button>
          </form>
        </div>
    </div>
  {% endif %}
</div>
<input type="hidden" id="primary-interest" value="{{article_detail.primary_interest.interest}}" />

<div class="article-content" style="margin-top:28px;">
  <div class="tag-list">
    <ul class="list-inline">
      {% for tag in tags %}
        <li><a href="#">{{tag}}</a></li>
      {% endfor %}
      <li><a href="#">Add Tags</a></li>
    </ul>
  </div>

</div>

        <div class="container-fluid extra-content" style="padding-left: 2em;">
            <h4>{% if not similar_article_detail %}No{% endif %} Similar Articles</h4>
        </div>

        <div class="container-fluid extra-content" style="margin-bottom:25px;">
          {% for similar_item in similar_article_detail %}
          <div class="card">
              <div class="row row-eq-height" style="padding: 1em 0.5em;">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <a href="javascipt:void(0)"><img src="http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com{{similar_item.profile_image}}" class="img-responsive" style="max-width:100%;height:150px;overflow:hidden;" /></a>
                </div>
                <a href="/website/articles/{{similar_item.id}}" style="color:#000;">
                <div class="col-xs-12 col-sm-12 col-md-9">
                  <h4 class="card-title">{{similar_item.name}}</h4>
                  <p class="card-text">{{similar_item.content | truncatewords:"10"}}</p>
                  <div class="hidden-xs hidden-sm" style="position:absolute;bottom:0;">
                    <a href="javascipt:void(0)" class="card-link"><img src="{% static "website/images/icons/like.png" %}" width="20" /> 140</a>
    <a href="javascipt:void(0)" class="card-link"><img src="{% static "website/images/icons/share.png" %}" width="20" /> 10</a>
                    <a href="javascipt:void(0)" class="card-link"><img src="{% static "website/images/icons/comments.png" %}" width="20" /> 8</a>
                                  </div>
                </div></a>
                                <div class="col-xs-12 col-sm-12 visible-xs visible-sm">
                                  <a href="javascipt:void(0)" class="card-link"><img src="{% static "website/images/icons/like.png" %}" width="20" /> 140</a>
                  <a href="javascipt:void(0)" class="card-link"><img src="{% static "website/images/icons/share.png" %}" width="20" /> 10</a>
                                  <a href="javascipt:void(0)" class="card-link"><img src="{% static "website/images/icons/comments.png" %}" width="20" /> 8</a>
                                </div>
              </div>
          </div>
          {% endfor %}
        </div>

        <div class="container-fluid comment-section" id="comments">
            <h4>Comments</h4>
            <span id="no-comment" style="display:none;"><strong>No comments posted.</strong></span>
            <ul id="comment-list">

            </ul>
        </div>
{% endblock %}

{% block ajax %}<script src="{% static 'website/js/ajax/article_detail.js' %}"></script>
<script>
  $('#selected-interest-text').html('{% for tag in article_detail.tags|split:"," %}{% if forloop.counter0 == 0 %}{{tag}}{% endif %}{% endfor %}')
</script>



{% endblock %}
