{% extends "website/base.html" %}
{% load staticfiles %}
{% load my_tags %}

{% block title %}
  Activork | Homepage
{% endblock %}
<input type="hidden" id="device_id" value="{{device_id}}" />
{% block cover_slider %}
  <!-- <div id="owl-carousel" class="cover-slider owl-carousel">
    <div>
      <div class="slider-parent">
        <img src="{% static 'website/images/cover.png' %}" />
        <div class="slider-child">
          <h3>Lorem ipsum</h3>
          <p>
            Dolor sit amet, consectetur adipiscing elit. Fusce ut ornare enim.
          </p>
        </div>
      </div>
    </div>

    <div>
      <div class="slider-parent">
        <img src="{% static 'website/images/cover.png' %}" />
        <div class="slider-child">
          <h3>Lorem ipsum</h3>
          <p>
            Dolor sit amet, consectetur adipiscing elit. Fusce ut ornare enim.
          </p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="owl-carousel owl-theme" style="margin-top:50px;">

  </div>
{% endblock %}

{% block content %}

  {% for article_detail in article_list %}
  <div id="card{{forloop.counter0}}" class="card visible-sm visible-md visible-lg {% if forloop.counter0 > 4 %}hide-card{% endif %}" style="width:100%;margin:0 auto;margin-bottom:10px;">
      <div class="row row-eq-height" style="padding: 1em 0.5em;">
          <div class="col-xs-12 col-sm-12 col-md-3">
              <a href="{% url 'articles' %}{{article_detail.id}}"><div class="img" style="background-image:url('http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com{{article_detail.image}}')"></div></a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-9">
            <h4 class="card-title">
              <a href="{% url 'articles' %}{{article_detail.id}}">{{article_detail.name}}</a>
              <a href="#" id="bookmark_article_{{article_detail.id}}" rel="{{article_detail.id}}" style="position:absolute;right:15px;"><img id="bookmark-img-{{article_detail.id}}" src="{% static 'website/images/icons/bookmarks_active.png' %}" width="25" alt="" /></a>
            </h4>
            <p class="card-text">
              <span>{{article_detail.source|get_source}}</span>
              <div class="tag-list">
                <ul class="list-inline">
                  {% if article_detail.tags %}
                    {% for tag in article_detail.tags|split:"," %}
                      <li><a href="#">{{tag}}</a></li>
                    {% endfor %}
                  {% endif %}
                </ul>
              </div></p>
            <div class="hidden-xs hidden-sm" style="position:absolute;bottom:0;">
                                <a href="#" class="card-link" id="like_{{article_detail.id}}" rel="{{article_detail.id}}"><img src="{% static "website/images/icons/like.png" %}" width="20"  /> {{article_detail.like}}</a>
                <a href="#" class="card-link"><img src="{% static "website/images/icons/share.png" %}"  width="20" /> 10</a>
                                <a href="#" class="card-link" id="comment_{{article_detail.id}}" rel="{{article_detail.id}}"><img src="{% static "website/images/icons/comments.png" %}" width="20"  /> {{article_detail.comment}}</a>

            </div>
          </div>
          <div class="col-xs-12 col-sm-12 visible-sm" style="margin-top:15px;">
            <a href="#" class="card-link" id="like_{{article_detail.id}}" rel="{{article_detail.id}}"><img src="{% static "website/images/icons/like.png" %}" width="20" /> {{article_detail.like}}</a>
            <a href="#" class="card-link"><img src="{% static "website/images/icons/share.png" %}" width="20" /> 10</a>
            <a href="#" class="card-link" id="m_comment_{{article_detail.id}}" rel="{{article_detail.id}}"><img src="{% static "website/images/icons/comments.png" %}" width="20" /> {{article_detail.comment}}</a>
          </div>
      </div>


    <div class="row" style="padding: 0 21px;">
      <h6>Shared by <strong><a href="#">{{article_detail.posted_by}}</a></strong></h6>
    </div>
  </div>



  <div id="m-card{{forloop.counter0}}" class="card visible-xs {% if forloop.counter0 > 4 %}hide-card{% endif %}">
      <div class="row row-eq-height" style="padding: 1em 0.5em;">
        <div class="col-xs-12 col-sm-12 card-img" style="position:relative;">
            <div style="position:absolute;top: 20px; right: 10px;">
              <a href="#" id="bookmark_article_{{article_detail.id}}" rel="{{article_detail.id}}" style="position:absolute;right:15px;"><img id="bookmark-img-{{article_detail.id}}" src="{% static 'website/images/icons/bookmarks_fill.png' %}" width="25" alt="" /></a>
            </div>
            <a href="{% url 'articles' %}{{article_detail.id}}"><img src="http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com{{article_detail.image}}" class="img-responsive" height="239" /></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
          <h4 class="card-title">{{article_detail.name}}</h4>
          <p class="card-text" align="center">
            Shared by <a href="#">{{article_detail.posted_by}}</a>
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 visible-xs visible-sm" style="margin-top:15px;">
          {% comment %}
          <a href="#" class="card-link"><img src="{% static 'website/images/icons/like.png' %}" width="20" /> {{article_detail.like}}</a>
          <a href="#" class="card-link"><img src="{% static 'website/images/icons/share.png' %}" width="20" /> 10</a>
          <a href="#" class="card-link"><img src="{% static 'website/images/icons/comments.png' %}" width="20" /> {{article_detail.comment}}</a>
          {% endcomment %}
        </div>
    </div>
    <div class="row" style="background:#f9a533;color:white;margin:0px;">
      <div class="col-md-12 col-sm-12 col-xs-12"><center>{{article_detail.source|get_source}}</center></div>
    </div>

  </div>
    {% endfor %}

  <div style="text-align:center;margin:2em 0;">
    <a href="#" class="btn btn-warning btn-lg" id="load-more">Load More</a>
  </div>


<input type="hidden" id="device_id" value="{{device_id}}" />
{% endblock %}
{% block ajax %}<script src="{% static "website/js/ajax/article_list.js" %}"></script>
<script>
  $(function(){

    $('a[id^="bookmark_article_"]').on('click', function(e) {
      if (!Cookies.get('user_session_cookie')) {
        window.location = '/website/login/';
        return false;
      } else {
      $('#bookmark-img-'+$(this).attr('rel')).attr('src','{% static 'website/images/icons/bookmarks_fill.png' %}')
      console.log($(this).attr('rel'))

      //http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/bookmark/
      $.ajax({
        url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/bookmark/',
        type: 'POST',
        data: {
          SESSION_ID: Cookies.get('user_session_cookie'),
          type: 'article',
          type_id: $(this).attr('rel')
        },
        success: function(res) {
          console.log(res);

        }
      })

      //$.ajax({
      //  url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/bookmark/',
      //  type: 'POST',
      //  data: {
      //    SESSION_ID: Cookies.get('user_session_cookie'),
      //    type: 'article',
      //    type_id: $(this).attr('rel')
      //  },
      //  success: function(res) {
      //    console.log(res)
      //    $('#bookmark-success-alert').css('display', 'block')
      //  }
      //})

      return false;
      }
    })

    $('a[id^="like_"]').on('click', function() {
      if (!Cookies.get('user_session_cookie')) {
        console.log('asd');
        window.location = '/website/login/';
      } else {
        $.ajax({
          url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/like_article/',
          type: 'POST',
          data: {
            SESSION_ID: Cookies.get('user_session_cookie'),
            article_id: $(this).attr('rel')
          },
          success: function(res) {
            alert('Article Liked!');
          }
        })
      }
    })
    $('a[id^="comment_"]').on('click', function() {
        window.location='/website/articles/'+$(this).attr('rel')+'#comments';
        return false;
        //console.log($(this).attr('rel'))
    })

    $.ajax({
      url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/featured_objects/',
      type: 'GET',
      success: function(res) {
<<<<<<< Updated upstream

	console.log(res['height']);
        console.log(res['titles']);

        console.log(res)

=======
	console.log(res['height']);
        console.log(res['titles']);
        console.log(res)
>>>>>>> Stashed changes
        $.each(res['images'], function(i) {
          var div_data = '';

          div_data += '<div class="item">'
          div_data += '  <div class="slider-parent">'
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
	 /*if (res['height'][i] != 0 && res['height'][i] != 1 && res['width'][i] !=1)
	 {
          div_data += '    <img style="height:'+res['height'][i]+'px; width:'+res['width'][i]+'px;" src="http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com'+ res['images'][i] +'" />'
	}
	else if (res['height'][i] == 1) {

 div_data += '    <img style="height:120%" src="http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com'+ res['images'][i] +'" />'


	}
	else {

div_data += '    <img style="width:100%;height:100%" src="http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com'+ res['images'][i] +'" />'


	}*/


	div_data += '    <img  style="width:100%;height:auto;"   src="http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com'+ res['images'][i] +'" />'

          div_data += '    <a href="{% url 'articles' %}'+res['ids'][i]+'"><img src="http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com'+ res['images'][i] +'" /></a>'
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
          div_data += '    <div class="slider-child">'
          div_data += '      <h3><a href="{% url 'articles' %}'+res['ids'][i]+'" style="color:white;">'+ res['titles'][i] +'</a></h3>'
          div_data += '    </div>'
          div_data += '  </div>'
          div_data += '</div>'

          $('.owl-carousel').owlCarousel('add', div_data).owlCarousel('refresh')
        })
      }
    })

  })
</script>

{% endblock %}
