{% extends 'website/base.html' %}
{% load staticfiles %}

{% block css %}<link rel="stylesheet" href="{% static 'website/js/tags-input/bootstrap-tagsinput.css' %}" type="text/css" />{% endblock %}

{% block content %}
<div class="home-content">
  <div class="detail-box">
    <form method="POST"  action="/website/post_article/" class="full-width-form" id="articlePostForm">
	{% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control" placeholder="URL of the article" name="url" id="url" />
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Code" name="code" id="code" style="width:150px;font-weight:bold;text-transform:uppercase;" />
      </div>

      <h5 style="font-weight: 700;">Select a Category</h5>

      <ul class="list-inline">
        {% for interest in interests %}
        <li style="margin:5px; color: #000;"><div class="form-control checkbox">
          <label><input type="checkbox" id="interest-{{forloop.counter}}" value="{{interest}}" style="margin-right:10px;">{{interest}}</label>
        </div></li>
        {% endfor %}
      </ul>

      <!-- <div class="form-group">
        <label for="tags-div">Tags (Separated with commas)</label>
        <div id="tags-div" style="width:100%;">
          <input type="text" data-role="tagsinput" id="tags" />
        </div>
      </div> -->
      <button type="submit" class="btn-dark">Submit</button>
    </form>
  </div>
</div>
{% endblock %}

{% block ajax %}
<script src="{% static 'website/js/tags-input/bootstrap-tagsinput.min.js' %}"></script>
<!--<script>
  var session_id = Cookies.get('user_session_cookie')

  if (!session_id) {

  } else {
    $('#articlePostForm').on('submit', function() {
      $.ajax({
        url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/scrap/',
        type: 'POST',
        data: {
          SESSION_ID: session_id,
          code: $('#code').val(),
          url: $('#url').val(),
        }
      }).then(function(res) {
        console.log(res)
        window.location.replace('{% url 'articles' %}')
      })
    })
  }
</script>-->
{% endblock %}
