{% extends "website/base.html" %}
{% load staticfiles %}

{% block title %}My Bookmarks | Activork{% endblock %}

{% block content %}
<div class="container-fluid list-bookmarks">
  <h4>My Bookmarks</h4>
  <!-- <div class="container" style="text-align:left;">
    <a href="#" style="color:#000;"><h4 style="width:70px;">Sort<div class="pull-right down-arrow" style="inline"></div></h4></a>
  </div> -->
  <ul style="padding-left:0;" id="bookmark-list">

  </ul>
</div>

{% endblock %}

{% block ajax %}
<script type="text/javascript">
var session_id = Cookies.get('user_session_cookie');
$.ajax({
  url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/bookmark/?type=article',
  type: 'GET',
  beforeSend: function(xhr){xhr.setRequestHeader('SESSION-ID', session_id);}
})
.then(function(data) {
  var bookmark_array = data["bookmarks"];
  console.log(bookmark_array);

  $.each(bookmark_array, function(i) {
    li = '<li>';
    li += '    <div class="row row-eq-height" style="position:relative">';
    li += '      <div class="col-xs-12 col-sm-3 col-md-3">';
    li += '        <a href="{% url 'articles' %}' + bookmark_array[i]['article']['id'] + '"><div class="img" style="background-image:url(\'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com'+ bookmark_array[i]['article']['image'] +'\')"></div></a>';
    li += '      </div>';
    li += '      <div class="col-xs-12 col-sm-6 col-md-6">';
    li += '        <a href="{% url 'articles' %}' + bookmark_array[i]['article']['id'] + '">';
    li += '        <h5 style="font-weight:600;">' + bookmark_array[i]['article']['name'] + '</h5>';
    //li += '        <p class="hidden-xs hidden-sm">';
    //li += '          ' + bookmark_array[i]['article']['content'].slice(0, 20) + '...';
    //li += '        </p>';
    li += '          </a>';
    li += '      </div>';
    li += '      <div class="col-xs-12 col-sm-3 col-md-3" style="text-align:right;color:#666;">';
    li += '        <div class="row">';
    li += '          <div class="col-md-12 hidden-xs hidden-sm">';
    li += '            <small class="pull-right"><i>' + bookmark_array[i]['article']['time'].slice(0,10) + '</i></small>';
    li += '          </div>';
    li += '          <div class="col-sm-12 col-xs-12 col-md-12 visible-sm visible-md" style="position: absolute;font-size: 32px;bottom: 0;right: 0.5em;">';
    li += '            <a href="#" class="pull-right"><img src="{% static 'website/images/remove_btn.png' %}" width="30" /></a>';
    li += '          </div>';
    li += '        </div>';
    li += '      </div>';
    li += '          <div class="col-sm-12 col-xs-12 col-md-12 visible-xs hidden-sm hidden-md" style="position: absolute;font-size: 32px;top: 0px;right: 0.2em;z-index:8000;">';
    li += '            <a href="#" class="pull-right"><img src="{% static 'website/images/remove_btn orange.png' %}" width="25" /></a>';
    li += '          </div>';
    li += '    </div>';
    li += '</li>';

    //li = '<h3>'+ bookmark_array[i]['id'] +'</h3>'
    $('#bookmark-list').append(li)
    li = ''
  })
})
</script>
{% endblock %}
