{% extends "website/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Login with Activork{% endblock %}

{% block cover_image %}
background:url('{% static 'website/images/cover.png' %}');
{% endblock %}

{% block cover_slider %}
      <div style="position:absolute;bottom:0;transform;width:100%;text-align:center;">
        <h2 style="color:#fff;font-weight:600;letter-spacing:3px;padding:1em;background:rgba(0, 0, 0, 0.5);">Login with Activork</h2>
      </div>
{% endblock %}

{% block content %}
<div class="row auth">
  <div class="col-sm-12 col-xs-12 col-md-12" style="padding: 2em 0;">
    <form method="post" action="{% url 'login' %}" class="auth" id="auth_form">
      {% csrf_token %}
      <center>
        <div style="width:300px;height:470px;position:relative;">
          <div class="login-error">
            <span style="color:red;font-size:14px;font-weight:400;">Incorrect username or password</span>
          </div>
          <div id="login_form">
            <div style="padding:0.5em;">
              <input type="text" name="email" class="form-input" placeholder="Email" />
            </div>
            <div style="padding:0.5em;">
              <input type="password" name="password" class="form-input" placeholder="Password" />
            </div>
            <div style="padding:0.5em">
              <a href="#" id="forgot_password">Forget your Password?</a>
            </div>
            <div style="padding:0.5em;">
              <button type="submit" class="btn_auth">Login</button>
            </div>
            <div style="margin: 3em 0;">
              <span style="color:#f9a533;font-size:28px;">OR</span>
            </div>
            <div style="padding:0.5em">
              <a href="{% url 'register' %}" class="btn_auth">Sign Up</a>
            </div>
          </div>
        </div>
      </center>
    </form>
  </div>
</div>
{% endblock %}

{% block ajax %}<script src="{% static "website/js/ajax/auth.js" %}"></script>{% endblock %}
