{% extends "website/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Register with Activork{% endblock %}

{% block cover_image %}
background:url('{% static 'website/images/cover.png' %}');
{% endblock %}

{% block cover_slider %}
      <div style="position:absolute;bottom:0;transform;width:100%;text-align:center;">
        <h2 style="color:#fff;font-weight:600;letter-spacing:3px;padding:1em;background:rgba(0, 0, 0, 0.5);">Register with Activork</h2>
      </div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-xs-12 col-md-12" style="padding: 2em 0;">
    <center>
      <div style="width:300px;">
        <form action="{% url 'register' %}" method="post" class="auth" id="auth_reg_form">
          {% csrf_token %}
          <div class="form-element">
            <input type="text" name="username" class="form-input" placeholder="Username" />
          </div class="form-element">
          <div class="form-element">
            <input type="text" name="email" class="form-input" placeholder="Email" />
          </div>
          <div class="form-element">
            <input type="password" name="password" class="form-input" placeholder="Password" />
          </div>
          <div class="form-element">
            <input type="number" name="phone" class="form-input" placeholder="Phone" maxlength="10" />
          </div>
          <div class="form-element" style="text-align:left;">
            <span style="font-size:14pt;font-weight:300;color:#333;" id="status_text">All fields are necessary</span>
          </div>
          <div class="form-element">
            <button type="submit" id="register" class="btn_auth">Register</button>
          </div>
        </form>
        <div style="padding:3em 0">
          <span style="font-size:22pt;color:#f9a533;">OR</span>
        </div>
        <div>
          <a href="{% url 'register' %}" class="btn_auth">Login</a>
        </div>
      </div>
    </center>
  </div>
</div>
{% endblock %}

{% block ajax %}<script src="{% static "website/js/ajax/auth.js" %}"></script>{% endblock %}
