{% extends "website/base.html" %}
{% load staticfiles %}
{% load my_tags %}

{% block title %}
Event List | Activork
{% endblock %}

{% block cover_slider %}
<div class="owl-carousel owl-theme" style="margin-top:50px;">

</div>
{% endblock %}

{% block content %}
<input type="hidden" id="device_id" value="{{device_id}}" />
{% comment %}
{% for field in event_list %}
    <div class="card">
        <div class="row row-eq-height" style="padding: 1em 0.5em;">
          <div class="col-xs-12 col-sm-12 col-md-4 card-img">
              <a href="{{field.id}}"><img src="http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com{{field.cover_pic}}" class="img-responsive" height="239" /></a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8">
            <h4 class="card-title">{{field.name}}</h4>
            <p class="card-text">{{field.about | truncatewords:15}}</p>
            <div class="hidden-xs hidden-sm" style="position:absolute;bottom:0px;">
                                <a href="javascipt:void(0)" class="card-link"><img src="{% static "website/images/icons/like.png" %}" width="20" /> 140</a>
                                <a href="javascipt:void(0)" class="card-link"><img src="{% static "website/images/icons/share.png" %}" width="20" /> 10</a>
                                <a href="javascipt:void(0)" class="card-link"><img src="{% static "website/images/icons/comments.png" %}" width="20" /> 8</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 visible-xs visible-sm">
            <a href="javascipt:void(0)" class="card-link"><img src="{% static 'website/images/icons/like.png' %}" width="20" /> 140</a>
            <a href="javascipt:void(0)" class="card-link"><img src="images/icons/share.png" width="20" /> 10</a>
            <a href="javascipt:void(0)" class="card-link"><img src="images/icons/comments.png" width="20" /> 8</a>
          </div>
      </div>
    </div>
{% endfor %}
{% endcomment %}

{% for event in event_list %}
  <div class="alert alert-success" id="bookmark-success-alert" style="display:none;position:absolute;top:50px;">
    <center><strong>Bookmark successfully added!</a>.</center>
  </div>
  <div id="card{{forloop.counter0}}" class="card visible-sm visible-md visible-lg {% if forloop.counter0 > 4 %}hide-card{% endif %}" style="width:100%;margin:0 auto;margin-bottom:10px;">
      <div class="row row-eq-height" style="padding: 1em 0.5em;">
          <div class="col-xs-12 col-sm-12 col-md-3">
              <a href="{% url 'events' %}{{event.id}}"><div class="img" style="background-image:url('http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com{{event.image}}')"></div></a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-9">
            <h4 class="card-title">
              <a href="{% url 'events' %}{{event.id}}">{{event.name}}</a>
              <a href="#" id="bookmark_article_{{event.id}}" rel="{{event.id}}" style="position:absolute;right:15px;"><img src="{% static 'website/images/icons/bookmarks_active.png' %}" width="25" alt="" /></a>
            </h4>
            <p class="card-text">
              <span>{{event.source|get_source}}</span>
              <div class="tag-list">
                <ul class="list-inline">
                  {% if event.tags %}
                    {% for tag in event.tags|split:"," %}
                      <li><a href="#">{{tag}}</a></li>
                    {% endfor %}
                  {% endif %}
                </ul>
              </div></p>

          </div>

    </div>
    <div class="row" style="padding: 0 21px;">
      <h6>Shared by <strong><a href="#">{{event.posted_by}}</a></strong></h6>
    </div>
  </div>

  <div id="card-xs" class="card visible-xs">
      <div class="row row-eq-height" style="padding: 1em 0.5em;">
        <div class="col-xs-12 col-sm-12 card-img">
            <a href="{% url 'articles' %}{{event.id}}"><img src="http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com{{event.image}}" class="img-responsive" height="239" /></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
          <h4 class="card-title">{{event.name}}</h4>
          <p class="card-text" align="center">
            Shared by <a href="#">{{event.posted_by}}</a>
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 visible-xs visible-sm" style="margin-top:15px;">
          {% comment %}
          <a href="javascipt:void(0)" class="card-link"><img src="{% static 'website/images/icons/like.png' %}" width="20" /> {{event.like}}</a>
          <a href="javascipt:void(0)" class="card-link"><img src="{% static 'website/images/icons/share.png' %}" width="20" /> 10</a>
          <a href="javascipt:void(0)" class="card-link"><img src="{% static 'website/images/icons/comments.png' %}" width="20" /> {{event.comment}}</a>
          {% endcomment %}
        </div>
    </div>
    <div class="row" style="background:#f9a533;color:white;margin:0px;">
      <center>{{event.source|get_source}}</center>
    </div>
  </div>
{% endfor %}

<div style="text-align:center;margin:2em 0;">
  <a href="#" class="btn btn-warning btn-lg" id="load-more">Load More</a>
</div>

{% endblock %}

{% block ajax %}
<script>
  $.ajax({
    url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/featured_objects/',
    type: 'GET',
    success: function(res) {
      console.log(res['titles'])
      $.each(res['images'], function(i) {
        var div_data = '';

        div_data += '<div class="item">'
        div_data += '  <div class="slider-parent">'
        div_data += '    <img src="http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com'+ res['images'][i] +'" />'
        div_data += '    <div class="slider-child">'
        div_data += '      <h3>'+ res['titles'][i] +'</h3>'
        div_data += '    </div>'
        div_data += '  </div>'
        div_data += '</div>'

        $('.owl-carousel').owlCarousel('add', div_data).owlCarousel('refresh')
      })
    }
  })
</script>
{% endblock %}
