{% extends "website/base.html" %}
{% load staticfiles %}

{% block title %}
  Event Detail
{% endblock %}

{% block cover_image %}
  background-image: url('http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com{{event_detail.cover_pic}}');
{% endblock %}

{% block articleBar %}
<div class="col-xs-12 col-sm-12 col-md-12 hidden-xs hidden-sm">
  <h4 class="post-bar">
                  <span style="margin-right:15px;"><img src="{% static 'website/images/icons/like_white.png' %}" width="20" style="margin-right:5px;" /> 102</span>
                  <span style="margin-right:15px;"><img src="{% static 'website/images/icons/comments_white.png' %}" width="20" style="margin-right:5px;" /> 11</span>
                  <span style="margin-right:15px;"><img src="{% static 'website/images/icons/share_white.png' %}" width="20" style="margin-right:5px;" /> 6</span>
                  <a href="#"><span style="margin-right:15px;"><img src="{% static 'website/images/icons/bookmarks_active.png' %}" width="20" style="margin-right:5px;color:#fbaf3c" /> Bookmark</span></a>
              </h4>
</div>
{% endblock %}

{% block content %}


<input type="hidden" id="device_id" value="{{device_id}}" />
<div class="detail-box">
    <h3>{{ event_detail.name }}</h3>
    <p>
        Date and Time <strong>{{date}}</strong> at <strong>{{time | slice:"8"}}</strong>
    </p>
</div>
<div class="row detail-box event-status">
    <div class="col-xs-6 col-sm-6 col-md-6 vertical-center-align">
        <a href="#">
            <div style="margin-bottom: 15px;">
                <center>
                    Going
                </center>
            </div>
            <div>
                <img src="{% static "website/images/event_going.png" %}" width="50" />
            </div>
        </a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 vertical-center-align">
        <a href="#">
            <div style="margin-bottom: 15px;">
                <center>
                    Maybe
                </center>
            </div>
            <div>
                <img src="{% static "website/images/event_not_going.png" %}" width="50" />
            </div>
        </a>
    </div>
</div>
<div class="detail-box">
    <h4>Event Details</h4>
    <p>
      {{event_detail.about}}
    </p>
</div>
<!-- <div class="row detail-box font-16">
    <div class="col-xs-6 col-sm-6 col-md-6">
        9A &amp; 12, Illitrati <br />
        Green Park, New Delhi.<br  /><br />
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6" style="text-align:right;">
        <strong>+91 7838652814</strong>
    </div>
</div> -->
<!-- <div class="detail-box">
    <center>
        <a href="#" class="btn-dark">Book Now</a>
    </center>
</div> -->
<div class="detail-box dark-container">
    <h4 style="color:#ffb414;display:inline-block;"><span style="color:#fff">Posted by </span><a href="javascipt:void(0)" style="color:#fff;">{{event_detail.posted_by}}</a></h4>
</div>

<div class="article-content" style="margin-top:28px;">
  {% if request.session.user_session %}
  <ul class="list-inline">
    <li><a href="#" class="reward-btn" id="like">Like</a></li>
    <li><a href="#" class="reward-btn" id="share">Share</a></li>
    <li><a href="#comments" class="reward-btn">Read Comments</a></li>
  </ul>
    <div class="row comment-box" style="margin-bottom:15px;">
        <div class="col-sm-8 col-xs-12 col-md-6">
          <form id="comment-form">
            <textarea id="commentBox">Post Comment</textarea>
            <button type="submit" name="button" class="btn_auth" style="width:100px;font-size:14px;">Comment</button>
          </form>
        </div>
    </div>
  {% endif %}
</div>

<!-- <div class="detail-box">
    <h4><b>Popular with your Friends</b></h4>
    <ul class="row-flex-container">
        <li>
            <h4 style="color:#000;display:inline-block;"><a href="javascipt:void(0)" style="color:#000;"><span style="margin-right:10px;"><img src="{% static 'website/images/harry.jpg' %}" class="profile" width="40" /></span>John Doe</a></h4>
        </li>
        <li>
            <h4 style="color:#000;display:inline-block;"><a href="javascipt:void(0)" style="color:#000;"><span style="margin-right:10px;"><img src="images/harry.jpg" class="profile" width="40" /></span>Harry Potter</a></h4>
        </li>
        <li>
            <h4 style="color:#000;display:inline-block;"><a href="javascipt:void(0)" style="color:#000;"><span style="margin-right:10px;"><img src="images/harry.jpg" class="profile" width="40" /></span>Alec Berg</a></h4>
        </li>
        <li>
            <h4 style="color:#000;display:inline-block;"><a href="javascipt:void(0)" style="color:#000;"><span style="margin-right:10px;"><img src="images/harry.jpg" class="profile" width="40" /></span>Sam Mendes</a></h4>
        </li>
        <li>
            <h4 style="color:#000;display:inline-block;"><a href="javascipt:void(0)" style="color:#000;"><span style="margin-right:10px;"><img src="images/harry.jpg" class="profile" width="40" /></span>Odd Mofo</a></h4>
        </li>
    </ul>
</div> -->

<div class="detail-box extra-content">
    <h4>Related Events</h4>
</div>

<div class="detail-box extra-content">

  {% for similar_event in event_detail.similar %}
    <div class="card">
      <div class="row row-eq-height" style="padding: 1em 0.5em;">
      <div class="col-xs-12 col-sm-12 col-md-3">
          <a href="javascipt:void(0)"><div class="img" style="background-image:url('http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com{{similar_event.cover_pic}}')"></div></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9">
        <h4 class="card-title">{{similar_event.name}}</h4>
        <div class="hidden-xs hidden-sm" style="position:absolute;bottom:0;">
                            <a href="javascipt:void(0)" class="card-link"><img src="images/icons/like.png" width="20" /> 140</a>
            <a href="javascipt:void(0)" class="card-link"><img src="images/icons/share.png" width="20" /> 10</a>
                            <a href="javascipt:void(0)" class="card-link"><img src="images/icons/comments.png" width="20" /> 8</a>
                        </div>
      </div>
                      <div class="col-xs-12 col-sm-12 visible-xs visible-sm">
                          <a href="javascipt:void(0)" class="card-link"><img src="images/icons/like.png" width="20" /> 140</a>
                          <a href="javascipt:void(0)" class="card-link"><img src="images/icons/share.png" width="20" /> 10</a>
                          <a href="javascipt:void(0)" class="card-link"><img src="images/icons/comments.png" width="20" /> 8</a>
                      </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="detail-box comment-section" id="comments">
    <h4>Comments</h4>

    <ul id="comment-list">

    </ul>
</div>
{% endblock %}

{% block ajax %}
<script>
  var path = window.location.pathname;
  var event_id = path.split("/")[3];
  var user_session = Cookies.get('user_session_cookie');

  $('#like').on('click', function() {
    $.ajax({
      url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/like_event/',
      type: 'POST',
      data: {SESSION_ID: user_session, event_id:event_id},
    }).then(function(response) {
      console.log(response);
    });
  });

  $.ajax({
    url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/comment_on_event/?event_id=' + event_id,
    type: 'GET',
    headers: {
      'SESSION-ID': user_session
    },
  }).then(function(res) {
    console.log("Read comments response\n" + res)

    if (res == 'No comments yet') {
      li = '<li>' + res + '</li>';
      $('#comment-list').append(li);
    } else {
      console.log(res);
      var comments = res['comments'];
      var li = '';
      $.each(comments, function(i) {
        // comments[i]['key']
        console.log('commen' + comments[i]['profile_image'])
        li = '';
        li += '<li>';
        li += '    <div class="row">';
        li += '        <div class="col-xs-12 col-sm-12 col-md-12">';
        li += '            <a href="#">'+ comments[i]['commented_by'] +'</a>';
        li += '        </div>';
        li += '    </div>';
        li += '    <div class="row">';
        li += '        <div class="col-xs-12 col-sm-12 col-md-12">'+ comments[i]['comment'] +'</div>';
        li += '    </div>';
        li += '    <div class="row">';
        li += '        <div class="col-md-12">';
        li += '            <span class="pull-right"><a href="#" class="reply-btn">Reply</a></span>';
        li += '        </div>';
        li += '    </div>';
        li += '</li>';

        $('#comment-list').append(li);
        li = '';
      })
    }
  });

  $('#comment-form').on('submit', function(e) {
    event.preventDefault();
    console.log('#comment-form\n' + e);

    var comment = $('#commentBox').val()
    $.ajax({
      url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/comment_on_event/',
      type: 'POST',
      data: {
        SESSION_ID:user_session,
        event_id:event_id,
        comment:comment
      },
    }).then(function(res) {
      console.log(res)

      li = '';
      li += '<li>';
      li += '    <div class="row">';
      li += '        <div class="col-xs-12 col-sm-12 col-md-12">';
      li += '            <a href="#">'+ Cookies.get('username') +'</a>';
      li += '        </div>';
      li += '    </div>';
      li += '    <div class="row">';
      li += '        <div class="col-xs-12 col-sm-12 col-md-12">'+ comment +'</div>';
      li += '    </div>';
      li += '    <div class="row">';
      li += '        <div class="col-md-12">';
      li += '            <span class="pull-right"><a href="#" class="reply-btn">Reply</a></span>';
      li += '        </div>';
      li += '    </div>';
      li += '</li>';

      $('#comment-list').prepend(li);
    })
  })
</script>
{% endblock %}
