{% extends 'website/base.html' %}
{% load staticfiles %}

{% block css %}<link rel="stylesheet" href="{% static 'website/js/tags-input/bootstrap-tagsinput.css' %}" type="text/css" />{% endblock %}

{% block title %}Post an Event{% endblock %}

{% block content %}
<div class="home-content">
  <div class="detail-box">
    <form class="full-width-form" id="articlePostForm">
      <div class="form-group">
        <label for="event-name">Name of the Event</label>
        <input type="text" class="form-control" placeholder="Name of the Event" name="event-name" id="event-name" />
      </div>

      <div class="form-group">
        <label for="event-img">Add an Image</label>
        <input type="file" id="event-img" value="">
      </div>

      <div class="form-group">
        <label for="organizer">Organizer</label>
        <input type="text" class="form-control" id="organizer" value="">
      </div>

      <div class="form-group">
        <label for="about-event">About Event</label>
        <textarea name="about-event" rows="8" cols="40" placeholder="About Event" style="background:white;"></textarea>
      </div>

      <div class="form-group" style="width:300px;">
        <label>Date</label>
        <div class="input-group input-daterange">
            <input type="text" id="from" class="form-control" value="2012-04-05">
            <span class="input-group-addon">to</span>
            <input type="text" id="to" class="form-control" value="2012-04-19">
        </div>
      </div>

      <div class="form-group">
        <label for="code"></label>
        <input type="text" class="form-control" placeholder="Code" name="code" id="code" style="width:150px;font-weight:bold;text-transform:uppercase;" />
      </div>

      <div class="form-group">
        <label for="tags-div">Tags (Separated with commas)</label>
        <div id="tags-div" style="width:100%;">
          <input type="text" data-role="tagsinput" id="tags" />
        </div>
      </div>
      <button type="submit" class="btn-dark">Submit</button>
    </form>
  </div>
</div>
{% endblock %}

{% block ajax %}
<script src="{% static 'website/js/tags-input/bootstrap-tagsinput.min.js' %}"></script>
<script>
  $('#from').datepicker({
        format: 'mm-dd-yyyy'
      });
      $('#to').datepicker({
            format: 'mm-dd-yyyy'
          });
</script>
{% endblock %}
