{% extends "website/base.html" %}
{% load staticfiles %}

{% block title %}
  {% if request.session.user_session %}
    {{request.session.first_name}}'s Profile
  {% endif %}
   | Activork
{% endblock %}

{% block cover_slider %}
<div class="container" style="width:100%;padding-left:0;background:#fff;position:absolute;bottom:0;">

      <!-- Modal HTML embedded directly into document -->
      <div id="ex1" style="display:none;">
        <form id="profile-picture-form" enctype="multipart/form-data">
          <table align="center">
            <tr>
              <td colspan="2">
                <center><input type="file" id="profile_image" /></center>
              </td>
            </tr>
            <tr>
              <td>
                <input type="submit" value="Change Profile Picture" />
              </td>
              <td>
                <a href="#" rel="modal:close">Cancel</a>
              </td>
            </tr>
          </table>
        </form>
      </div>

      <!-- <div id="more-modal" style="display:none">
        <ul class="list-unstyled modal-list">
          <li><a href="#">Unfollow</a></li>
          <li><a href="#">Report</a></li>
        </ul>
      </div> -->

      <!-- Profile Header -->
      <table>
        <tr>
          <td>
            <div class="thumbnail" style="width:200px;height:150px;margin-bottom:0;border:none;border-radius:0;position:relative;">
              <img src="#" id="profile_picture" class="img-responsive" id="profile-pic" />
              <input type="file" id="file-loader" style="display:none" />
              <a href="#ex1" rel="modal:open" class="glyphicon glyphicon-pencil" id="edit-image" style="position:absolute;top:5px;right:5px;"></a>
            </div>
          </td>
          <td style="vertical-align:top;padding-left:0.5em;">

            <h4 style="font-weight:800;">
              <a class="profile_anchor" tabindex="0" data-template='<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title" style="background:orange;color:white;"></h3><div class="popover-content"></div></div>' id="profile_user_name" role="button" data-toggle="popover" title="Change Username" data-content='<form class="change_username_form"><input type="text" class="popover_text_box" /><br /><input type="submit" class="popover_button" value="Save" /><input type="button" style="background:red;color:white;" class="close_me popover_button" value="Cancel" /></form>'></a>
              <!-- <a href="#more-modal" rel="modal:open"><img src="{% static 'website/images/more-2.png' %}" width="25" alt="" /></a> -->
            </h4>
            <ul style="padding:0;margin:0;">
                <li>
                  <div id="status-container"><a href="#" id="status-text" class="profile_anchor" style="display:block"></a></div>
                </li>
                <!-- <li>
                    <span id="score" style="color:black;"></span>
                </li> -->
            </ul>
          </td>
        </tr>
      </table>
</div>
{% endblock %}

{% block content %}
  <div class="detail-box" style="background:white;padding: 10px 20px;">
    <table class="profile-list">
      <tr>
        <td><strong>Working at</strong></td><td>:</td><td><span id="working-at"></span></td>
      </tr>
      <tr>
        <td><strong>Designation</strong></td><td>:</td><td><span id="designation"></span></td>
      </tr>
      <tr>
        <td><strong>College</strong></td><td>:</td><td><span id="college"></span></td>
      </tr>
    </table>

    <table id="edit-profile" style="display:none;">
      <tr>
        <td>
          <strong>Working at</strong>
        </td>
        <td>
          <input type="text" id="new-working-at" />
        </td>
      </tr>
      <tr>
        <td>
          <strong>Designation</strong>
        </td>
        <td>
          <input type="text" id="new-designation" />
        </td>
      </tr>
      <tr>
        <td>
          <strong>College</strong>
        </td>
        <td>
          <input type="text" id="new-college" />
        </td>
      </tr>
      <tr>
        <td><button id="save-btn">Save</button></td>
        <td><button id="cancel-btn">Cancel</button></td>
      </tr>
    </table>

    <div id="edit-profile-list" style="display:none;">
      <ul class="list-unstyled update_profile_list">
        <li>
          <span><strong>Working at : </strong><input type="text" id="update_working_at" /></span>
        </li>
        <li>
          <span><strong>Designation : </strong><input type="text" id="update_designation" /></span>
        </li>
        <li>
          <span><strong>College : </strong><input type="text" id="update_college" /></span>
        </li>
        <li>
          <input type="submit" class="popover_button" value="Save" /><input type="button" class="popover_button" id="cancel-profile-list-form" style="background:red;color:white" value="Cancel" />
        </li>
      </ul>
    </div>


  </div>
  <div class="detail-box" style="background:white;padding: 10px 20px;" id="about-container">
    <h5 style="font-weight:600;font-size:16px;">About<span></h5>
    <div id="profile_brief" style="padding: 5px; border-left: 5px solid lightgrey;">

    </div>
    <div id="edit-profile-brief" style="padding: 5px;display:none;">
      <textarea id="new-profile-brief"></textarea>
      <table>
        <Tr>
          <td><button id="save-brief" class="save-btn">Save</button></td>
          <td><button id="cancel-brief" class="cancel-btn">Cancel</button></td>
        </Tr>
      </table>
    </div>
  </div>

<div id="exTab1" class="detail-box">
<ul  class="nav nav-pills">
			<li class="active">
        <a  href="#1a" data-toggle="tab">Following</a>
			</li>
  			<li><a href="#2a" data-toggle="tab">Followers</a>
			</li>
		</ul>

			<div class="tab-content clearfix">
			  <div class="tab-pane active" id="1a">
          <ul class="list-inline" id="disp_following">

          </ul>
				</div>
				<div class="tab-pane" id="2a">
          <ul class="row-flex-container" id="disp_followers">

          </ul>
				</div>
			</div>
  </div>

<h4>My Articles</h4>

<div class="detail-box" id="my_articles" style="background:white;padding: 20px;">

</div>

<h4>My Events</h4>
<div class="detail-box" id="my_events" style="background:white;padding: 20px;">

</div>
{% endblock %}

{% block ajax %}
<script src="{% static "website/js/ajax/my_profile.js" %}"></script>
<script src="{% static "website/js/ajax/profile_edit.js" %}"></script>
<script>

  $(window).on('load', function(e) {

    $(function () {

      $('body').on('click', function (e) {
          $('[data-toggle="popover"]').each(function () {
              //the 'is' for buttons that trigger popups
              //the 'has' for icons within a button that triggers a popup
              if ((!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) || ($(e.target).is('.close_me'))) {
                  $(this).popover('hide');
              }
          });
      });

      $('[data-toggle="tooltip"]').tooltip()
      $('[data-toggle="popover"]').popover({
        html: true,
      })

    })

    // edit username : http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/fill_userprofile/

    function update_profile_ajax(url, updated_data, type_of_data) {

      if (type_of_data == "username") {
        data = {
          SESSION_ID: Cookies.get('user_session_cookie'),
          username: updated_data,
        }
      }

      if (type_of_data == 'status') {
        data = {
          SESSION_ID: Cookies.get('user_session_cookie'),
          status: updated_data,
          public: '1'
        }
      }

      return $.ajax({
        url: url,
        type: 'POST',
        data: data,
        success: function(res) {
          return res;
        },
        error: function(err) {
          return err;
        }
      })
    }

    $(document).on('submit', '.popover .change_username_form', function(e) {
      e.preventDefault();
      console.log(update_profile_ajax('http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/fill_userprofile/', $('.popover_text_box').val(), 'username'));
    })

    $('#status-text').on('click', function(e) {
      var status = $('#status-text').text();
      var update_status_form = ''
      update_status_form += '<form id="updateStatus">'
      update_status_form +=  '    <input type="text" class="popover_text_box" id="updateStatusText" style="width:100%;" value=\''+ $('#status-text').text() +'\' /><br />'
      update_status_form +=  '    <input type="submit" value="Update Status" class="popover_button" /><input type="button" value="Cancel" class="popover_button" style="background:red;color:white;" id="cancel-btn" />'
      update_status_form +=  '</form>'
      $('#status-container').html(update_status_form)
      $('#cancel-btn').on('click', function() {
        $('#status-container').html('<div id="status-container"><a href="#" id="status-text" class="profile_anchor" style="display:block">'+status+'</a></div>')
      })
    })

    $('#about-container').on('mouseover', function() {
      $('#edit-brief').css('opacity', '1')
    })

    $('#about-container').on('mouseout', function() {
      if($('#edit-brief').attr('class') != "glyphicon glyphicon-ok")
        $('#edit-brief').css('opacity', '0')
    })

    function css_edit_module(selector, btn_a) {
      var sel = $('#' + selector)
      var btn = $('#' + btn_a)
      sel.on('mouseover', function(e) {
        if (btn.attr('class') != "glyphicon glyphicon-ok") {
          sel.css({"border":"1px solid #f9a533", "background":"#f7f7f7"})
          btn.css("opacity", "1");
        }
      })

      sel.on('mouseout', function(e) {
        if (btn.attr('class') != "glyphicon glyphicon-ok") {
          sel.css({"border":"1px solid #fff", "background":"#fff"})
          btn.css("opacity", "0")
        }
      })
    }

    function func_edit(parent, child, display, cancel) {
      var parent_s = $('#' + parent)
      var child_s = $('#' + child)
      var display_s = $('#' + display)
      var cancel_s = $('#cancel-' + cancel)
      var temp = display_s.text()
      console.log($('#profile_user_name').text())

      child_s.on('click', function() {
        if (child_s.attr('class') == 'glyphicon glyphicon-ok') {

        } else {
          cancel_s.css("opacity", "1");
          parent_s.css({'border':'1px solid #f9a533', 'background':'#fff'})
          display_s.html('<input type="text" class="no-style-input" />')
          child_s.removeClass('glyphicon glyphicon-pencil')
          child_s.addClass('glyphicon glyphicon-ok')
        }
      })

      cancel_s.on('click', function() {
        display_s.html(temp)
        child_s.removeClass('glyphicon glyphicon-ok')
        child_s.addClass('glyphicon glyphicon-pencil')
        cancel_s.css("opacity", "0")
        parent_s.css({'border':'1px solid #fff', 'background':'#fff'})
        child_s.css({'opacity':'0'})
      })
    }

    var edit_username = $('#edit-username')
    var edit_status = $('#edit-status')
    var edit_brief = $('#edit-brief')

    console.log($('#status-container').width())

    css_edit_module('profile-status', 'edit-status')

    if (!Cookies.get('user_session_cookie')) {
      edit_username.css("display", "none")
      edit_status.css("display", "none")
      edit_brief.css("display", "none")
      $('edit-image').css("display", "none")
    }



    edit_status.on('click', function() {
      var temp = $('#status-text').text()

      if (edit_status.attr('class') == "glyphicon glyphicon-ok") {
        console.log('New Status : ' + $('#new-status').val())
        $.ajax({
          url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/update_status/',
          type: 'POST',
          data: {
            SESSION_ID: Cookies.get('user_session_cookie'),
            status: $("#new-status").val(),
            public: '1'
          }
        }).then(function(res) {
          console.log(res)
          edit_status.removeClass('glyphicon glyphicon-ok')
          edit_status.addClass('glyphicon glyphicon-pencil')
          $('#status-text').html($('#new-status').val())
        });
      }
      else {
        $('#status-text').html('<input type="text" value="'+ temp +'" style="font-size:13px;padding:5px;" id="new-status" />')
        edit_status.removeClass('glyphicon glyphicon-pencil')
        edit_status.addClass('glyphicon glyphicon-ok')
      }
    })

    edit_brief.on('click', function() {
      var temp = $('#profile_brief').text()

      if (edit_brief.attr('class') == "glyphicon glyphicon-ok") {
        console.log('New Brief : ' + $('#new-brief').val())
        $.ajax({
          url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/fill_userprofile/',
          type: 'POST',
          data: {
            SESSION_ID: Cookies.get('user_session_cookie'),
            about: $("#new-brief").val()
          }
        }).then(function(res) {
          console.log(res)
          edit_brief.removeClass('glyphicon glyphicon-ok')
          edit_brief.addClass('glyphicon glyphicon-pencil')
          $('#profile_brief').html($('#new-brief').val())
        });
      }
      else {
        $('#profile_brief').html('<textarea style="font-size:13px;padding:5px;height:50px;" id="new-brief">' + temp + '</textarea>')
        edit_brief.removeClass('glyphicon glyphicon-pencil')
        edit_brief.addClass('glyphicon glyphicon-ok')
      }
    })

    // Form id = profile-picture-form
    // File id = profile_image

    // Variable to store files
    var files

    $('#profile_image').on('change', prepareUpload)

    function prepareUpload(event) {
      files = event.target.files
      console.log(files[0])
    }



    function uploadFiles(event) {
      event.stopPropagation();
      event.preventDefault();

      var data = new FormData();
      data.append("SESSION_ID", Cookies.get('user_session_cookie'))
      data.append("profile_image", files[0])

      $.ajax({
        url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/fill_userprofile/',
        type: 'POST',
        data: data,
        cache: false,
        dataType: 'json',
        processData: false, // Don't process the files
        contentType: false, // Set content type to false as jQuery will tell the server its a query string request
        success: function(data, textStatus, jqXHR)
        {
            console.log(data)
            location.reload();
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            // Handle errors here
            console.log('ERRORS: ' + textStatus);
            // STOP LOADING SPINNER
        }
      })

    }

    $('#profile-picture-form').on('submit', uploadFiles);


  })
</script>
{% endblock %}
