{% extends "website/base.html" %}
{% load staticfiles %}

{% block title %}

   | Activork
{% endblock %}

{% block cover_slider %}
<div id="more-modal" style="display:none">
  <ul class="list-unstyled modal-list">
    <li><a href="#" id="unfollow-user-btn">Unfollow</a></li>
    <li><a href="#">Report</a></li>
  </ul>
</div>
<div class="container" style="padding-left:0;background:#fff;position:absolute;bottom:0;">

      <!-- Profile Header -->
      <table>
        <tr>
          <td>
            <div class="thumbnail" style="width:200px;height:150px;margin-bottom:0;border:none;border-radius:0;"><img src="#" id="profile_picture" class="img-responsive" /></div>
          </td>
          <td style="vertical-align:top;padding-left:0.5em;">
            <h4 style="font-weight:600"><span id="profile_user_name"></span><a href="#" class="btn-follow" id="btn_follow_user" style="margin-left: 10px;font-size:12px;">Follow</a><a href="#more-modal" style="margin-left: 10px;" rel="modal:open"><img src="{% static 'website/images/more-2.png' %}" width="25" alt="" /></a></h4>
            <ul style="padding:0;margin:0;">
                <li>
                    <span id="status-text" style="color:black;">asd</span>
                </li>
                <!-- <li>
                    <span id="score" style="color:black;"></span>
                </li> -->
            </ul>
          </td>
        </tr>
      </table>
</div>
{% endblock %}

{% block content %}
<div class="detail-box" style="background:white;padding: 10px 20px;">
  <h5 style="font-weight:600;font-size:16px;">About</h5>
  <p id="profile_brief" style="padding: 5px; border-left: 5px solid lightgrey;">

  </p>
</div>

<div class="detail-box" style="background:white;padding: 10px 20px;">
  <ul class="list-inline">
    <li>
      <ul class="list-unstyled" id="common-list">
        <li style="color:#000;text-align:center;margin-bottom:10px;font-weight:700">Common Friends</li>
        <li style="color:#000;"><center><span style="display:block;background:#f9a533;padding:10px;width:75px;height:75px;border-radius:50%;line-height:60px;color:#fff;font-size:20px;font-weight:700;"><center>
          12
        </center></span></center></li>
      </ul>
    </li>
    <li>
      <ul class="list-unstyled" id="common-list">
        <li style="color:#000;text-align:center;margin-bottom:10px;font-weight:700">Common Friends</li>
        <li style="color:#000;"><center><span style="display:block;background:#f9a533;padding:10px;width:75px;height:75px;border-radius:50%;line-height:60px;color:#fff;font-size:20px;font-weight:700;"><center>
          12
        </center></span></center></li>
      </ul>
    </li>
    <li>
      <ul class="list-unstyled" id="common-list">
        <li style="color:#000;text-align:center;margin-bottom:10px;font-weight:700">Common Friends</li>
        <li style="color:#000;"><center><span style="display:block;background:#f9a533;padding:10px;width:75px;height:75px;border-radius:50%;line-height:60px;color:#fff;font-size:20px;font-weight:700;"><center>
          12
        </center></span></center></li>
      </ul>
    </li>
  </ul>
</div>

<div id="exTab1" class="detail-box">
<ul  class="nav nav-pills">
			<li class="active">
        <a  href="#1a" data-toggle="tab">Following</a>
			</li>
  			<li><a href="#2a" data-toggle="tab">Followers</a>
			</li>
		</ul>

			<div class="tab-content clearfix">
			  <div class="tab-pane active" id="1a">
          <ul class="list-inline" id="disp_following">

          </ul>
				</div>
				<div class="tab-pane" id="2a">
          <ul class="list-inline" id="disp_followers">

          </ul>
				</div>
			</div>
</div>

<div class="detail-box" id="my_articles" style="background:white;padding: 20px;">

</div>

<div class="detail-box" id="my_events" style="background:white;padding: 20px;">

</div>
{% endblock %}

{% block ajax %}
  <script>

    var session_id = Cookies.get('user_session_cookie');
    var path = window.location.pathname;
    var other_user_id = path.split("/");
    console.log(other_user_id[3]);

    /* AJAX methods */
    function profile_detail() {
      return $.ajax({
        url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/other_profile_userdetails/?user_id={{user_id}}',
        type: 'GET',
        beforeSend: function(r) {
          r.setRequestHeader('SESSION-ID', session_id);
        },
        success: function(data) {
          console.log(data);
          data = data['data']
          picture_url = 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com'+data['profile_image'];
          console.log(picture_url)
          $('#profile_picture').attr('src', picture_url)
          console.log($('#profile_picture').width())
          $('#profile_user_name').html(data['user'])
          document.title = data['user'] + "'s Profile | Activork"
          $(document).title = "asd";
          //$('#status_text').html()
          $('#score').html(data['score'])
          $('#profile_brief').html(data['about'])
        }
      });
    }

    function my_followers(page_number) {
      return $.ajax({
        url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/other_profile_followers/?user_id='+ other_user_id[3] +'&follow=followers&page='+ page_number,
        type: 'GET',
        beforeSend: function(request) {
          request.setRequestHeader("SESSION-ID", session_id);
        },
        //data: {SESSION-ID:session_id, user_id:},
        success: function(data) {
           console.log(data['data']);
          $(data['data']).each(function(i) {
            var li = '';
            li += '<li><div style="display:inline-block;padding:10px;">';
            li += '    <div class="flex-container">';
            li += '      <div class="flex-item">';
            li += '        <div class="thumbnail" style="border-radius:50%;width:50px;height:50px;margin:0;padding:0;"><a href="http://localhost:8000/website/user/' + data['data'][i]['followed_by_user_id'] + '/"><img src="http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com' + data['data'][i]['image'] + '" /></a></div>';
            li += '      </div>';
            li += '      <div class="flex-item">';
            li += '        <a href="http://localhost:8000/website/user/' + data['data'][i]['followed_by_user_id'] + '/"><h5 style="color:black;font-weight:bold;">' + data['data'][i]['followed_by'] + '</h5></a>';
            li += '      </div>';
            li += '    </div>';
            //li += '  <div style="padding-left: 10px;margin-top: 10px;"><button type="button" class="btn-follow" name="button">Unfollow</button></div></div></li>';
            $('#disp_followers').append(li);
          });
        }
      });
    }

    function my_following(pn) {
      return $.ajax({
        url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/other_profile_followers/?user_id='+ other_user_id[3] +'&follow=following&page='+ pn,
        type: 'GET',
        beforeSend: function(request) {
          request.setRequestHeader("SESSION-ID", session_id);
        },
        success: function(data) {
          console.log(data['data']);
          $(data['data']).each(function(i) {
            var li = '';
            li += '<li><div style="display:inline-block;padding:10px;">';
            li += '    <div class="flex-container">';
            li += '      <div class="flex-item">';
            li += '        <div class="thumbnail" style="border-radius:50%;width:50px;height:50px;margin:0;padding:0;"><a href="http://localhost:8000/website/user/' + data['data'][i]['follower_user_id'] + '/"><img src="http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com' + data['data'][i]['image'] + '" /></a></div>';
            li += '      </div>';
            li += '      <div class="flex-item">';
            li += '        <a href="http://localhost:8000/website/user/' + data['data'][i]['follower_user_id'] + '/"><h5 style="color:black;font-weight:bold;">' + data['data'][i]['follow'] + '</h5></a>';
            li += '      </div>';
            li += '    </div>';
            //li += '  <div style="padding-left: 10px;margin-top: 10px;"><button type="button" class="btn-follow" name="button">Unfollow</button></div></div></li>';
            $('#disp_following').append(li);
          });
        }
      })
    }

    function user_status() {
      return $.ajax({
        url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/get_status/?user_id='+ other_user_id[3] +'&user=other',
        type: 'GET',
        beforeSend: function(request) {
          request.setRequestHeader("SESSION-ID", session_id);
        },
        sucess: function(data) {
          console.log('status: ' + data);
        }
      })
    }

    function follow_user() {
      $.ajax({
        url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/follow_user/',
        type: 'POST',
        data: {
          SESSION_ID: session_id,
          follow: other_user_id[3]
        },
        success: function(data) {
          console.log(data)
        }
      })
    }

    /* Load AJAX methods */
    $(window).on('load', function() {
      profile_detail();
      my_followers(1);
      my_following(1);
      user_status();

      $('#btn_follow_user').on('click', function() {
        follow_user()
      })
      $('#unfollow-user').on('click', function() {
        $.ajax({
          url: 'http://ec2-52-43-13-235.us-west-2.compute.amazonaws.com/mobile/unfollow_user/',
          type: 'POST',
          data: {
            SESSION_ID: Cookies.get('user_session_cookie'),
            unfollow: other_user_id[3]
          },
          success: function(res) {
            console.log(res)
          }
        })
      })
      var pathname = window.location.pathname
      console.log(pathname.split("/")[3])
    })

  </script>
{% endblock %}
